.*
!.gitignore
Data
Resources/php.ini
Settings/backup.4DSettings
userPreferences.*
Project/DerivedData/CompiledCode
Project/DerivedData
Preferences
Project/Sources/Methods/Method*.4dm
Libraries/lib4d-arm64.dylib
Project/Trash
