# Ignore invisible files/folders except .gitignore
.*
!.gitignore
!.gitattributes
!.github

#--------------------------------
# Don't ignore .github workflow
#--------------------------------

!.github/
!.github/**/.*
.github/.DS_Store

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.4DIndx
*.4DIndy
*.Match
*.journal

#--------------------------------
# Ignore derived data
#--------------------------------
**/Project/DerivedData/

#--------------------------------
# Ignore settings & preferences
#--------------------------------
Preferences/
!4DPop AppMaker.*

Settings/
!buildApp.4DSettings

userPreferences.*/

#--------------------------------
# Ignore Trash
#--------------------------------
Project/Trash/

#--------------------------------
# Ignore backup
#--------------------------------
*.4BK
backupHistory.json

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

Resources/php.ini

Components/
!Build/Components

**/Sources/Methods/00_*.4dm

Libraries/
!/Content/Libraries/

DEV/

#--------------------------------
# [!] Never omit forms
#--------------------------------
!**/Forms/*/

#--------------------------------
# Added by user
#--------------------------------
/Components

Test SVG/Components

# Default form & method names - usually for local tests
**/Sources/Methods/Method[0-9]*.4dm
**/Sources/Methods/Methode[0-9]*.4dm
**/Sources/Forms/Form[0-9]*
**/Sources/Forms/Formulaire[0-9]*
Project/Sources/filters.json
